/* Fake Dark mode  -*/  
html {
    filter: invert(1) hue-rotate(180deg);
}

/* style for div that holds: all cards  -*/  
.cards-container {
    display:grid; 
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.fonts{
    font-family: "Roboto";
    font-size:50px;
}
/* style for each of the 4 cards -*/
.card {
    display: grid;
    height : 300px;
    grid-template-rows: 2fr 1fr; 
    background-color: rgb(240,240,240);
    border-radius: 10px;
    font-family: "Roboto";
}

/* style for div that holds main part of the card -*/
.card .card-main {
    text-align: center;
}

.pad{
    padding-right: 20px;
}
.header{
    font-size: x-large;
    color: rgb(156,156,156);
}

/* makes things inline with each other -*/
.same {
    margin: 5px;
    display:inline;
}

/* makng the celsius and number centered relative to image */
.central{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* styles number attatched to celsius - */
.num-celsius{
    color: rgb(112, 112, 112, 112);
    font-size: xxx-large;
}

/* styles celsius symbol */
.celsius-style{
    color: rgb(112, 112, 112, 112);
    font-size: 35px;
}

/* celsus symbol -*/
span {
    content: "\2103";
  }

/* styles entire low end of card - */
.card .card-sub {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

/* styles first column of sub card -*/
.card .card-sub .card-sub-col1{
    border-top: rgb(214, 214, 214) solid 2px;
    border-right: rgb(214, 214, 214) solid 2px;
}

/* styles low temp display - */
.blue{
    color: rgb(108,200,248);
    font-size: 40px;
}

/* styles high temp display -*/
.orange{
    color: orange;
    font-size: 40px;
    
}

/* centeres the high / low temp display -*/
.low-high{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* styles second column of sub card -*/
.card .card-sub .card-sub-col2{
    padding-top: 29px;
    padding-left: 10px;
    font-size: 18px;
    border-top: rgb(214, 214, 214) solid 2px;
    color: rgb(159,159,159);
}

/* makes rain/wind display go on left */
   .heightmargin{
       display: table-row;
       display: flex;
       justify-content: left;
       flex-direction: row;
       margin: 0px;
       padding-top: 0px;
   }







